.container {
  display: flex;
  flex-direction: column;
  .main-container {
    max-width: 720px;
    margin: 0 auto;
    padding: 12vh 32px 20vh 32px;
    background-color: #242424;
  }

  h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  li {
    .title {
      display: inline-block;
      width: 6em;
    }
  }
  .scut {
    color: #387cd2;
  }
  .jd {
    color: #6b8fe1;
  }
  .bd {
    color: #528af7;
  }
  .we {
    color: #58be6a;
  }
  .okx {
    color: #fff;
  }
}
